.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  color: #000;
  background-color: #b7bcb5;
}

.header__title {
  margin: 0;
  margin-block-end: 35px;
  padding: 0;
  padding-block-start: 150px;
  font-size: 80px;
}

.page__list {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font: inherit;
}

.page__form {
  display: flex;
  margin-block-end: 35px;
  flex-direction: column;
  gap: 30px;
}

.page__form-label {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.page__form-button {
  padding: 10px 60px;
  font-size: 20px;
  align-self: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list__item {
  border: 1px solid #000;
  text-align: center;
}